html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #222;
  color: white;
  font-family: Arial, sans-serif;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  padding-top: 20px;
}

#gameCanvas {
  background-color: #000;
  border: 2px solid #fff;
  width: 300px;
  height: 300px;
}

#controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#controls > button {
  width: 80px; /* Button width */
  height: 80px; /* Button height */
  font-size: 24px; /* Font size */
  margin: 5px; /* Spacing between buttons */
  background-color: #444; /* Background color */
  color: white; /* Text color */
  border: none; /* No border */
  border-radius: 10px; /* Rounded corners */
  cursor: pointer;
}

#controls > div {
  display: flex;
  justify-content: center;
  margin-top: 5px; /* Space between "Up" and the row of buttons */
}

#controls > div > button {
  width: 80px;
  height: 80px;
  font-size: 24px;
  margin: 5px;
  background-color: #444;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#controls button:active {
  background-color: #666; /* Change background when pressed */
}

#startGameButton {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  margin-bottom: 20px;
}

#startGameButton:active {
  background-color: #555;
}

#scoreBoard {
  font-family: Arial, sans-serif;
  font-size: 18px;
  color: white;
  background-color: black;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
}

#controlInfo {
  text-align: center;
  margin-top: 10px;
}
