body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #222;
  color: white;
  font-family: Arial, sans-serif;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#gameCanvas {
  background-color: #000;
  border: 2px solid #fff;
  width: 300px;
  height: 300px;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.arrow {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
}

.arrow:active {
  background-color: #555;
}

#startGameButton {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  margin-bottom: 10px;
}

#startGameButton:active {
  background-color: #555;
}

#scoreBoard {
  font-family: Arial, sans-serif;
  font-size: 18px;
  color: white;
  background-color: black;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
}
